.footer-section{
    background-color: $nav_top_bg;
    .footer-top{

      .ft-item{
        .fti-title{
          h5{
            color: $white;
            font-family: $droid;
            font-size: 18px;
            font-weight: 700;
          }
          margin-bottom: 40px;
        
        }
        .fti-content{
          .fti-text{
            color: $title_p;
            font-family: $roboto;
            font-weight: 300;
            margin-bottom: 25px;
          }
          .fti-btn{
            font-family: $droid;
            font-weight: 400;
            color: $footer_btn;
            transition: $transition;
            &:hover{
              color: $primary-color;
            }

          }
          .ft-link{
            li{
              padding-block: 4px;
             
              a{
                color: $title_p;
                transition: $transition;
                i{
                  margin-right: 10px;
                  color: $white;
                }
                &:hover{
                  color: $primary-color;
                  i{
                    color: $primary-color;
                  }
                  
                }
                
              }
            }
          }
          .ft-form{
            position: relative;
            margin-bottom: 20px;
            
            .subscribe_input{
              height: 40px;
              
            }
            .submit_btn{
              background-color: $primary_color;
              color: $white;
              padding: 10px;
              font-family: $droid;
              line-height: 24px;
              position: absolute;
              right: 6px;
              top: 50%;
              height: 35px;
              border: none;
              transform: translateY(-50%);
              display: flex;
              align-items: center;
              

            }

          }
          .pmedhot{
            p{
              color: $white;
              margin-bottom: 20px;
            }
          }
        }
      }


      .navbar-social{
        margin-top: 30px;
        gap: 20px;
        p{
          color: $footer_social;
          
        }
        .social-menu{
          gap: 15px;
          li{
            .social-link{
              font-size: 14px;
              color: $footer_social;
              &:hover{
                color: $primary_color;
              }
            }
          }
        }
      }
    }
    .footer-bottom{
      border-top:1px solid$service_p ;
      padding-block: 30px;

      .fb-text{

        font-family: $droid;
        font-size: 16px ;
        color: $title_p;
        .logo-text{
          color: $primary_color;
          
        }
        i{
          color: $primary_color;
        }
      }
    }
    
}



