//color variable

$primary_color:#119ee6;
$black:#000;
$nav_top_bg:#151414;
$nav_bottom_bg:#f9f9f9;
$dark_white:#aaaaaa;
$body_bg:#f2f2f2;
$white:#fff;
$tab_border:#eeeeee;

$fun_devider:#072432; 

$service_p:#555555;
$review_rating:#dddddd;
$review_title:#222222;
// section title and p
$title_p:#999999;
$title-header:#222222;

$footer_btn:#cccccc;
$footer_social:#777777;


//transition 
$transition:all .3s ease;


.padding-top{
    padding-top: 80px;
}



.padding-bottom{
    padding-bottom: 100px;
}


